<% content_for(:title, "Edit Profile") %>

<div class="border-form-div">
  <h2>Update your Profile</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label "Full Name", :username, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
            <%= f.text_field :username, autofocus: true, class: 'form-control'  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :email, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
            <%= f.email_field :email, class: 'form-control'  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label "New Password", :password, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
            <%= f.password_field :password, :placeholder => 'Leave blank unless you want to change', autocomplete: "off", class: 'form-control'  %>
        </div>
    </div>


    <div class="form-group">
        <%= f.label "Confirm Password", :password_confirmation, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
            <%= f.password_field :password_confirmation, :placeholder => 'Confirm new password if changing', autocomplete: "off", class: 'form-control'  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label "Current Password", :current_password, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
            <%= f.password_field :current_password, autocomplete: "off", :placeholder => 'Enter current password if you make any changes', class: 'form-control' %>
        </div>
    </div>

    <% if current_user.email != "test@test.com" %>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <%= button_tag(type: "submit", class: "btn btn-default float-btn", title: "Update Profile") do %>
            <i class="fa fa-sign-in fa-fw"></i> Update Profile
          <% end %>
        </div>
      </div>
    <% end %>

  <% end %>

  <div class="row form-fix">
  <% if current_user.email != "test@test.com" %>
    <div class="show-edit-del">
      <%= link_to registration_path(resource_name), title: "Cancel your Account", data: { confirm: "Are you sure?" }, method: :delete do %>
        <%= image_tag("cancel-account.png") %>
         <p>Cancel Account</p>
      <% end %>
    </div>
  <% end %>

    <div class="show-edit-del">
      <%= link_to root_path do %>
        <%= image_tag("navigation.png", title: "Back to Home") %>
        <p>Home</p>
      <% end %>
    </div>
  </div>

</div>