<% content_for(:title, "Job Interview") %>

<%= render 'layouts/errors', object: @interview %>
<%= form_for(@interview, html: { class: 'form-horizontal' }, url: job_interview_path(@job, @interview)) do |f| %>

  <div class="form-group">
      <%= f.label "Interview Date", class: "col-xs-12 col-sm-2"%>
    <div class="col-xs-6 col-sm-3">
      <%= f.date_field :interview_date, :autofocus=>true, class: 'form-control' %>
    </div>
  </div>

    <div class="form-group">
        <%= f.label "Interview Time", class: "col-xs-12 col-sm-2"%>
      <div class="col-xs-6 col-sm-3">
        <%= f.time_field :interview_time, class: 'form-control' %>
      </div>
    </div>

  <div class="form-group">
    <%= f.label "Interview Notes", class: "col-xs-12 col-sm-2"%>
    <div class="col-xs-11 col-sm-9">
      <%= f.text_area :notes, class: 'form-control' %>
    </div>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :job_id, :value => @job.id %>

  <div class="form-group">
      <%= f.label "Choose a Contact", class: "col-xs-12 col-sm-2"%>
    <div class="col-xs-3 col-sm-3">
      <%= f.collection_select :contact_id, @company.contacts, :id, :first_name, prompt: true, class: 'form-select' %>
    </div>
  </div>

 	<div class="form-group">
    <div class="col-sm-offset-2">
      <%= render 'layouts/submit', form_type: "Interview", object: @interview, f: f %>
    </div>
  </div>

<% end %>