<%= render 'layouts/errors', object: @reminder %>

<%= form_for [@context, @reminder], html: { class: 'form-horizontal' } do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id  %>
  <div class="form-group">
    <%= f.label :subject, class: "col-xs-12 col-sm-3" %>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_area :subject, class: "form-control", placeholder: "Enter a reminder here." %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Reminder Due", class: "col-xs-12 col-sm-3" %>
    <div class="col-xs-5 col-sm-5">
      <%= f.date_field :due_date, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <%= render 'layouts/submit', form_type: "Reminder", object: @reminder, f: f %>
    </div>
  </div>

<% end %>
