<% content_for(:title, "Reminders") %>

<div class="row col-pads">
  <h3>Reminder Details</h3>
  <p><b>Company: </b><%= link_to "#{@company.name}", company_path(@company) %></p>
  <p><b>Reminder: </b><%= @reminder.subject %></p>
  <p><b>Due Date: </b><%= l @reminder.due_date, format: :long %></p>
</div>

<div class="margin-top row col-pads">
  
  <div class="show-edit-del">
    <%= link_to edit_company_reminder_path(@company, @reminder),title:"Edit Reminder Details" do %>
      <%= image_tag("edit.png") %>
      <p>Edit</p>
    <% end %>
  </div>
  <div class="show-edit-del">
    <%= link_to [@company, @reminder], data: {method: :delete, confirm: "Are you sure you want to delete this reminder?" }, title: "Delete this Reminder" do %>
      <%= image_tag("trash-holiday.png") %>
      <p>Delete</p>
    <% end %>
  </div>
  <div class="show-edit-del">
  <%= link_to company_path(@company), title:"Back" do %>
    <%= image_tag("navigation.png") %>
     <p>Back</p>
  <% end %>
  </div>

</div>