<%= render 'layouts/errors', object: @job %>

<%= simple_form_for(([@job.company, @job]), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-group">
    <%= f.label "Job title", class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :description, placeholder: "Job title",class: 'form-control', :autofocus=>true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "City/State Location", class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :location, placeholder: "Job location (City/State, Remote, etc)", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Web link to Job", class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :posting_url, placeholder: "Paste full link to job, ie. http://www.indeed.com/1234", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Date Applied", class: 'col-sm-4 control-label' %>
    <div class="col-sm-8">
    <%= f.date_field :application_date, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Application Status", class: 'col-sm-4 control-label' %>
    <div class="col-sm-7 radios-style">
      <%= f.collection_radio_buttons :status, [['Open', 'Open ',checked:true],['Closed', 'Closed ']],:first, :last, class: 'radio-inline form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <%= render 'layouts/submit', form_type: "Job Application", object: @job, f: f %>
    </div>
  </div>


<% end %>