<% content_for(:title, "Job Applications") %>

<div class="row show-header">
  <h2>Job Detail: <span class="company-show-head"><%= @job.description %></h2></span>
</div>

  <div class="col-xs-12 col-sm-4 show-bottom-line">
    <div class="row col-pads">
      <h4>Job Title: <span class="company-show-head"><%= @job.description %></span></h4>
      <p><b>Company Name: </b><%= link_to @job.company.name, company_path(@job.company), title: "View #{@job.company.name}" %></p>
      <p><b>Location: </b><%= @job.location %></p>
      <p class="web-links"><b>Web link to Job: </b><%= link_to "#{@job.posting_url}", @job.posting_url, target: "_blank",title:"View #{@job.posting_url}" %></p>
      <p><b>Date Applied: </b><%= @job.application_date.strftime("%m/%d/%Y") %>
      <p><b>Application Status: </b>
        <% if @job.status == "Open" %>
          Open
        <%else %>
          <%= render 'layouts/job_closed', object: @job%>
        <% end %>
    </div>
    <div class="row margin-top col-pads">
      <div class="show-edit-del">
        <%= link_to edit_company_job_path(@company, @job), title: "Edit this Job Application" do %>
          <%= image_tag("edit.png") %>
          <p>Edit</p>
        <% end %>
      </div>
      <div class="show-edit-del">
        <%= link_to [@job.company, @job], data: {method: :delete, confirm: "Are you sure you want to delete the #{@job.description} job application from #{@company.name}?" }, title: "Delete #{@job.description}, WARNING" do %>
          <%= image_tag("trash-holiday.png") %>
          <p>Delete</p>
        <% end %>
      </div>
      <div class="show-edit-del">
      <%= link_to company_path(@company), title: "Back" do %>
        <%= image_tag("navigation.png") %>
         <p>Back</p>
      <% end %>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-4 show-bottom-line ">
    <div class="row col-pads">
      <h3>Responses: 
        <%= link_to new_job_response_path(@job), class: "btn btn-adds", title: "Add New Response" do %>
          <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
          Add New
        <% end %></h3>
      <p>Any responses from the company go here.</p>
    </div>
    <div class="row col-pads">
        <% if @job.responses != [] %>
          <% @job.responses.each do |response| %>
            <p><b>Date: </b><%=  link_to "#{response.response_date.strftime("%m/%d/%Y")}", job_response_path(@job, response), title: "View this Response" %>
            | <b>Notes: </b><%= response.notes %></p>
          <% end %>
        <% else %>
          <p>None Yet.</p>
        <% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="row col-pads">
      <h3>Interviews:
        <%= link_to new_job_interview_path(@job), class: "btn btn-adds", title: "Add New Job Interview" do %>
          <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
          Add New
        <% end %></h3>
      <p>Save your phone or in-person interviews: </p>
    </div>
    <div class="row col-pads">
      <% if @job.interviews != [] %>
        <% @job.interviews.each do |interview| %>
          <p><b>Date: </b><%=  link_to "#{interview.interview_date.strftime("%m/%d/%Y")}", job_interview_path(@job, interview), title: "View this Interview" %>
          | <b>Notes: </b><%= interview.notes %></p>
        <% end %>
      <% else %>
        None Yet.
      <% end %>
    </div>
  </div>



