<div class="border-form-div">
  <h2>Change your password</h2>
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-group">
      <%= f.label "New Password", :password, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password, required: true, autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Confirm New Password", :password_confirmation, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, required: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
          <%= f.button :submit, "Change Password", class:"btn btn-default" %>
      </div>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>