<%= render 'layouts/errors', object: @contact %>

<%= form_for(([@contact.company, @contact]), html: { class: 'form-horizontal' }) do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <%= f.label "First Name", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :first_name, class: 'form-control', :autofocus=>true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Last Name", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Title", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Email", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :email, placeholder: "example: john@company.com",class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Cell Phone", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :cell_phone, placeholder: "123-456-7890",class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Work Phone", class: 'col-sm-3 control-label' %>
    <div class="col-sm-8">
    <%= f.text_field :work_phone, placeholder: "123-456-7890", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
      <%= render 'layouts/submit', form_type: "Contact", object: @contact, f: f %>
    </div>
  </div>

<% end %>