Hello <% if @user.username !="" %><%= @user.username %>,<% else %>Jobseeker,<% end %>

This message is just a quick confirmation that we received a feedback message from you on <%= @feedback.created_at.to_formatted_s(:short) %>

We will look at this shortly and appreciate your feedback on this.


Sincerely, 
The Jobseeker Team