<%= render 'layouts/errors', object: @response %>

<%= simple_form_for(([@job, @response]), html: { class: 'form-horizontal' }) do |f| %>
  <% if !@response.response_date %>
    <div class="form-group">
        <%= f.label "Date Received", class: "col-xs-12 col-sm-3"%>
      <div class="col-xs-6 col-sm-5">
        <%= f.date_field :response_date, :autofocus=>true, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label "Notes", class: "col-xs-12 col-sm-3"%>
    <div class="col-xs-12 col-sm-8">
      <%= f.text_area :notes, :size => "100%x6%", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Contact Name", class: "col-sm-3"%>
    <div class="col-sm-6">
      <%= f.collection_select(:contact_id, @company.contacts, :id, :first_name, prompt: true, class: 'form-select') %>
    </div>
  </div>

  <%= f.hidden_field :job_id, :value => @job.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <%= render 'layouts/submit', form_type: "Response", object: @response, f: f %>
    </div>
  </div>

<% end %>