<%= render 'layouts/errors', object: @company %>

<%= form_for(@company, html: { class: 'form-horizontal' }) do |f| %>
 	<div class="form-group">
    	<%= f.label "Name", class: "col-sm-2 control-label"%>
    <div class="col-sm-6">
    	<%= f.text_field :name, :autofocus=>true, class: 'form-control' %>
   	</div>
  </div>
 	<div class="form-group">
    	<%= f.label "Website", class: "col-sm-2 control-label"%>
    <div class="col-sm-6">
    	<%= f.text_field :url, placeholder: "Enter the website address",class: 'form-control' %>
   	</div>
  </div> 	<div class="form-group">
    	<%= f.label :"Comments", class: "col-sm-2 control-label"%>
    <div class="col-sm-6">
    	<%= f.text_area :comments, class: 'form-control' %>
   	</div>
  </div>

 <%= f.hidden_field :user_id, value: current_user.id %>

 	<div class="form-group">
	  <div class="col-sm-offset-2 col-sm-9">
      <%= render 'layouts/submit', form_type: "Company", object: @company, f: f %>
    </div>
 	</div>

<% end %>