<% content_for(:title, "Companies") %>

<div class="row show-header">
  <h2>Company: <span class="company-show-head"><%= @company.name %></h2></span>
</div>

<div class="col-xs-12 show-header show_bottom_line">
  <% if @company.reminders.count > 0 %>
    <h4>Important Reminder:</h4>
    <% @company.reminders.each do |reminder| %>
      <p><%= l reminder.due_date, format: :short %> - 
        <%= link_to "<i class='fa fa-reminder fa-bell'></i> #{reminder.subject}".html_safe, company_reminder_path(@company,reminder), title: "View This Reminder", alt: "View This Reminder" %>
        </p>
    <% end %>
  <% else %>
    <h4><%= link_to new_company_reminder_path(@company), title: "Create New Reminder", alt: "Create New Reminder" do %>
          <%= content_tag(:i,nil,class: 'fa-reminder fa fa-bell-slash')%>
          No reminders found - Create one
        <% end %></h4>
  <% end %>
</div>

<div class="col-xs-12 col-sm-4 show-bottom-line">
  <div class="row col-pads">
    <h4>Company Information:</h4>
    <p><b>Website Address: </b><%= link_to "#{@company.url}", @company.url, target: "_blank", title: "#{@company.url}", alt:"#{@company.url}" %></p>
    <% if @company.comments !="" %>
      <p><b>Notes: </b>  <%= @company.comments %></p>
    <% end %>
  </div>
  <div class="row margin-top">
    <div class="show-edit-del">
      <%= link_to edit_company_path(@company), title: "Edit Company Details", alt: "Edit Company Details" do %>
        <%= image_tag("edit.png") %>
        <p>Edit</p>
      <% end %>
    </div>
    <div class="show-edit-del">
      <%= link_to company_path(@company), data: {method: :delete, confirm: "WARNING! This will delete all contacts and interviews with #{@company.name}. Are you sure?" }, title: "Delete This Company", alt: "Delete This Company" do %>
        <%= image_tag("trash-holiday.png") %>
        <p>Delete</p>
      <% end %>
    </div>
    <div class="show-edit-del">
    <%= link_to root_path, title: "Home Page", alt: "Home Page" do %>
      <%= image_tag("navigation.png") %>
       <p>Home</p>
    <% end %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-4 show-bottom-line">
  <div class="row col-pads">
    <h3>Contacts 
      <%= link_to new_company_contact_path(@company), class: "btn btn-adds", title: "Add a New Contact", alt: "Add a New Contact" do %>
        <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
        Add New
      <% end %></h3>
    <p>Add all your contacts with this company. Add them to your responses or interviews to show who contacted you.</p>
  </div>

  <div class="row contacts-ul">
    <ul class="fa-ul">
      <% @company.contacts.each do |contact| %>
        <li><p><%= link_to "#{contact.first_name} #{contact.last_name}", company_contact_path(@company, contact), title: "View #{contact.first_name} #{contact.last_name}", alt: "View #{contact.first_name} #{contact.last_name}" %></p></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="row col-pads">
    <h3>Applications 
      <%= link_to new_company_job_path(@company), class: "btn btn-adds", title: "Add a New Job Application", alt: "Add a New Job Application" do %>
        <%= content_tag(:i,nil,class: 'fa fa-plus fa-2x')%> 
        Add New
      <% end %></h3>
    <p>Enter any job applications sent in to this company. Then view the job to add responses and interviews.</p>
  </div>

  <div class="row jobs-ul">
    <ul class="fa-ul">
      <% @company.jobs.each do |job| %>
        <li><p>
          <%= link_to company_job_path(@company, job), title: "View #{job.description} application", alt: "View #{job.description} Application" do %>
            <%= job.description %>
            <%= render 'layouts/job_closed', object: job%>
          <% end %></p></li>
      <% end %>
    </ul>
  </div>
</div>

