<% content_for(:title, "Jobseeker Log In") %>

<div class="border-form-div">
  <h2>Log In</h2>
  <h4>To try out the Jobseeker use <span class="test-style">test@test.com</span> to login</h4>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  
    <div class="form-group">
      <%= f.label :email, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <%= f.email_field :email, :autofocus => true, :placeholder => 'email@provider.com', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-sm-3 control-label" %>
      <div class="col-sm-9">
        <% if :email == "test@test.com" %>
            <%= f.password_field :password, value: "test1234", class: "form-control" %>
        <% else %>
            <%= f.password_field :password, :placeholder => 'Password with 8 characters', class: "form-control" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-offset-3 col-sm-9 checkbox ">
        <%= f.input :remember_me, :class=>"checkbox", as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <%= button_tag(type: "submit", class: "btn btn-default float-btn", title: "Log In") do %>
          <i class="fa fa-sign-in fa-fw"></i> Log In
        <% end %>
      </div>
    </div>  
  <% end %>
  <%= render "devise/shared/links" %>
</div>