<%= render 'layouts/errors', object: @feedback %>

<%= simple_form_for @feedback do |f| %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label "Subject", :subject, class: "col-xs-12" %>
    <div class="col-xs-9 col-sm-6">
      <%= f.text_field :subject, class: "form-control" %>    
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Body", :body, class: "col-xs-12" %>
    <div class="col-xs-12 col-sm-9">
      <%= f.text_area :body, size:"100%x8%", class: "form-control" %>    
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 feedback-submit">
      <%= render 'layouts/submit', form_type: "Feedback", object: @feedback, f: f %>
    </div>
  </div>

<% end %>

