
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);

/*--------------------
SASS Color Variables
--------------------*/
$boot_blue: #428bca;
$boot_tan: #f8f8f8;
$cardinal: #B71F3B;
$mercury: #e5e5e5;
$silk: #e3e3e3;
$button-pri: #c1c9d4;
$button-sec: #b5bdc8;
$tan-bg: #f4f3f1;
$atlantis: #8ed022;

/*--------------------
SASS MIXINS
--------------------*/
@mixin rounded-corners($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin shadowed-corners($color) {
  -webkit-box-shadow: 3px 3px 3px $color;
     -moz-box-shadow: 3px 3px 3px $color;
          box-shadow: 3px 3px 3px $color;
}
@mixin list-bullets($content) {
  margin: 1em;
  // margin-left: 1em;
  &:before {
  content: $content;
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: $button-sec;
  }
}

/* Responsive for 3 column view when reduced */
@media screen and (max-width: 480px) {
  .show-bottom-line {
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid $mercury;
  }
}


/*-----------------------------
list bullets for each indexpage
-----------------------------*/
.contacts-ul .fa-ul li {
@include list-bullets('\f007')
}
.companies-ul .fa-ul li {
@include list-bullets('\f0f7')
}
.jobs-ul .fa-ul li {
@include list-bullets('\f11c')
}
.interviews-ul .fa-ul li {
@include list-bullets('\f086')
}


/*----------------------------- 
global css entire program
-----------------------------*/
body {
  background:image-url("bg-tan.jpg");
  margin-bottom: 70px;
}

a {
  color: $cardinal;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

/*-------------------
Navigation
--------------------*/
.navbar {
  margin-bottom: 0px;
  background: image-url("bg4.jpg");
}

.navbar-default .navbar-nav {
  li a{
    color: black;
    font-size: 1.2em;
    &:hover {
      color: $cardinal;
      font-weight: bold;
    }
  }
}

.navbar-brand {
  padding: 0;
  a {
  font-size: 1.5em;
  color: black;
    &:hover {
      text-decoration: none;
      color: $cardinal;
      text-shadow: 0 1px 1px black;
    }
  }
}

.job-seeker {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  color: $cardinal;
    text-shadow: 0 1px 1px black;
}

.brand-image {
  height: 2em;
  &:hover {
    height: 2.1em;
  };
}

.navbar-right {
  padding-right: 1em;
}

.navbar-fixed-bottom {
  border: 1px solid $mercury;
  display:block;
  margin: 0 auto;
  text-align: center;
  p {
    margin-top: 1em;
  }
  a {
    color: $cardinal;
  &:hover {
    text-decoration: none;
  };
  }
}

.nav-format {
  float: left;
  padding-right: 10px;
  font-size: 1.4em;
}
.nav-format p {
  font-size: .55em;
  text-align: center;
  color: $boot_blue;
}

.logged-in {
  padding-top: 1.1em;
  font-size: 1em;
}

.logged-in-name {
  color: $cardinal;
}

/*------ error box ------*/
.error_explanation {
  border: 1px solid $mercury;
  margin: 0 0 1em 0;
  padding: 0 .5em;
  @include rounded-corners(.4em);
  h4 {
    color: $cardinal;
  }
}

.yield-box {
  margin-top: 4.5em;
  margin-bottom: 6em;
}

.image_box {
  margin: 0 auto;
  max-height: 50%;
  border: 2px solid $mercury;
  @include rounded-corners(.4em);
}

.img-box {
  max-width: 1.5em !important;
  float: right;
}


.menu-col {
  margin-top: 2em;
}

.menu-row {
  margin-top: 5em;
}

.one-step {
  display: block;
  margin: 0 0 .4em 0;
  text-align: center;
  a {
    width: 15em;
    img {
    margin-right: .35em;
    max-width: 17.5%;
    }
  }
 }

.row-one, .row-two {
  margin: 0 0 1em;
}

.index-one, .index-two, .index-three, .index-four {
  padding: .25em .25em;
  background-color: $tan-bg;
  height: 250px;
  border: 1px solid $mercury;
  @include rounded-corners(.5em);
  @include shadowed-corners(rgba(0,0,0,.10));
  h4,h3 {
    margin: 0 auto;
  }
  p {
    margin-bottom: -1px;
  }
}

.outer-box {
  float: left;
  padding: .5em;
}

.btn-default {
  color: black;
  background-color: $button-pri;
  border-color: black;
  &:hover {
    background-color: $cardinal !important;
    color: white;
  }
}

/* ------------------
This is for forms
--------------------*/
.border-form-div {
  max-width: 540px;
  padding: .4em .6em;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid $mercury;
  @include rounded-corners(.4em);
  @include shadowed-corners(rgba(0,0,0,.10));
  h2,h4 {
    color: $cardinal;
    margin-left: 10px;
  }
  p {
    color: $cardinal;
  }
  a {
    color: $cardinal;
    margin: 3px;
  }
}

/*-------------------------------
This is for companys and contacts
-------------------------------*/

.add-btn {
  width: 3em;
  margin: 0 0 0 5px;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.add-new {
  font-size: 1.1em;
  color: $cardinal;
  text-shadow: 0 1px 1px black;
  // display:none;
}

.float-btn {
  color: $cardinal;
  float: left;
  margin: 0 .6em 0 0;
}
a.float-btn {
  color: $cardinal;
  margin-top: 0px;
}


/*-------------
Show page icons
------------- */
.show-edit-del {
  float: left;
  max-width: 2.5em;
  margin: 0 1.5em 0 0;
  a {
    &:hover {
        text-decoration: none;
      }
    &:hover p {
        color: $boot_blue;
      }
    img {
      max-width: 100%;
      opacity: .8;
      &:hover {
        opacity: 1;
      }
    }
    p {
      color: $cardinal;
      font-size: .85em;
      font-weight: bold;
      text-align: center;
    }
  }
}

.margin-top {
  margin-top: 1.5em;
}

.col-pads {
  padding: 0 .5em;
}

.form-fix {
  max-height: 70px;
  margin-left: .75em;
}

/*---------------------
panels for forms
-------------------- */
.panel-default>.panel-heading {
  background-color: $button-sec;
}

/* 
radio buttons
*/
.collection_radio_buttons {
  margin: 0 .5em;
}
.radios-style {
  margin-left: 1.1em;
  padding: .5em 0;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    cursor: default;
  };
}

.enter-home-1 {
  /* transition in a button style on the create company link */
  -webkit-transition: color 1s ease-in;
  -moz-transition: color 1s ease-in;
  -o-transition: color 1s ease-in;
  transition: color 1s ease-in;
  color: $cardinal;
  &:hover {
    color: #000;
    background-color: $button-pri;
    padding: 5px;
    border: 1px #000 solid;
    border-radius: 5px;
  }
}

span.enter-home-2 {
  -webkit-transition: color 2s ease-out;
  -moz-transition: color 2s ease-out;
  -o-transition: color 2s ease-out;
  transition: color 2s ease-out;
  &:hover {
    color: $cardinal;
  }
}

.rulers {
  color: black;
}

.web-links {
overflow: hidden;
}

.fa-reminder, .fa-plus{
  color: $atlantis;
  text-shadow: 0px 1px 1px #000;
}

/* These are for the add new buttons*/
.btn-adds {
  border-color: black;
  background-color: $tan-bg;
  color: #000;
  &:hover {
    background-color: $cardinal !important;
    color: white;
  }
}

.fa-plus {
  vertical-align: middle;
}

/* Devise login form style for test login */
.test-style {
  color: $cardinal;
  font-weight: bold;
}




