$cardinal: #B71F3B;
$button-pri: #c1c9d4;
$button-sec: #b5bdc8;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin shadowed-corners($color) {
  -webkit-box-shadow: 3px 3px 3px $color;
     -moz-box-shadow: 3px 3px 3px $color;
          box-shadow: 3px 3px 3px $color;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

.welcome-head {
  margin-top: 70px;
  display: block;
  margin: 0 auto;
  text-align: center;
  h3 {
    margin-bottom: .9em;
  }

  h1 {
    color: $button-sec;
    text-shadow: 0 .5px 0 #000;
  }
  a {
    color: $button-sec;
    text-shadow: 0 .5px 0 #000;
  }

}
.welcome-body {
  margin: .75em 0 0 0;
}

.image-div {
  display: block;
  margin: 0 auto;
  padding: .5em .5em;
  text-align: center;
  p {
    margin: .5em;
    padding:0 2px;
    font-size: 1.1em;
    font-weight: bold;
  }
}

.image-style {
@include rounded-corners(5px);
@include shadowed-corners(#696969);
max-width: 100%;
height: auto;
}

.guest-style {
  color: $button-sec;
  text-shadow: 0 .5px 0 #000;
  &:hover {
      color: $cardinal;
  }
}

