<div class="auth-buttons">
  <% if user_signed_in? %>

    <div class="nav-format logged-in hidden-sm">
      <% if current_user.username %>
        Logged in as <strong><span class="logged-in-name"><%= current_user.username %></span></strong>.
      <% else %>
        Logged in as <strong><span class="logged-in-name"><%= current_user.email %></span></strong>.
      <% end %>
    </div>

    <div class="nav-format">
      <%= link_to '<i class="fa fa-pencil fa-fw"></i> Edit Profile'.html_safe, edit_user_registration_path, id: "edit-prof", class: "btn btn-default navbar-btn",title:"Edit Profile" %>
    </div>

    <div class="nav-format">
      <%= link_to '<i class="fa fa-sign-out fa-fw"></i> Log Out'.html_safe, destroy_user_session_path, :method=> :delete, id: "logout-prof", class: "btn btn-default navbar-btn",title:"Logout" %>
    </div>

  <% else %>
    <div class="nav-format">
      <%= link_to '<i class="fa fa-plus fa-fw"></i> Create Account'.html_safe, new_user_registration_path, id: "signup-prof", class: "btn btn-default navbar-btn",title:"Sign Up" %>
    </div>

    <div class="nav-format">
      <%= link_to '<i class="fa fa-sign-in fa-fw"></i> Log In'.html_safe, new_user_session_path, id: "login-prof", class: "btn btn-default navbar-btn",title:"Log In" %>
    </div>

    <div class="nav-format">
      <%= link_to '<i class="fa fa-home fa-fw"></i> Home'.html_safe, root_path, id: "home-page", class: "btn btn-default navbar-btn",title:"Home Page" %>
    </div>

  <% end %>
</div>