<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'search.ico' %>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to image_tag("search.png", class: "brand-image") + ("<span class='job-seeker'>Job</span>Seeker".html_safe), root_path, title: "Home" %>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Companies", companies_path, title: "Manage your Companies" %></li>
        <li><%= link_to "Contacts", contacts_path, title: "View your Contacts" %></li>
        <li><%= link_to "Jobs", jobs_path, title: "View your jobs applied for" %></li>
        <li><%= link_to "Interviews", interviews_path, title: "View your Interviews" %></li>
        <li><%= link_to "Contact Us", new_feedback_path, title: "Submit Feedback or a Question" %></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <%= render 'layouts/login' %>
      </div>
    </div>
  </nav>

  <div class="yield-box">
    <div id="flash" class="clearfix">
      <% if flash[:notice] != nil %>
        <div class='alert alert-success' role='alert'>
          <%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] != nil %>
        <div class='alert alert-danger' role='alert'>
          <%= flash[:alert] %></div>
      <% end %>
    </div>
    <%= yield %>
  </div>

  <div class="navbar navbar-default navbar-fixed-bottom clearfix">
    <p id="copyright">Ruby on Rails application &copy; 2014 built by: <%= link_to "Visible Difference Web Development", "http://www.visible-difference.com", target: "_blank", title: "Visit www.visible-difference.com" %></p>
  </div>

</body>
</html>
